@import "tailwindcss";
@import "swiper/css";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@theme {
  /* Colors */
  --color-blue-1: #247af2;
  --color-blue-2: #376fff;
  --color-blue-3: #0900ff;
  --color-blue-4: #374bff;
  --color-blue-5: #6e83b7;
  --color-extra-black-1: #242424;
  --color-gray-0: #f0f0f0;
  --color-gray-1: #615f5f;
  --color-gray-2: #b3b3b3;
  --color-gray-3: #494949;
  --color-gray-4: #707070;
  --color-gray-5: #e0e0e0;
  --color-main-1: #e1e5ef;

  /* Fonts */
  --font-brand: "Pretendard", sans-serif;

  /* Animations */
  --animate-slide-up: slide-up 0.3s ease-out;
}

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }

  body {
    @apply font-brand;
  }

  button:hover:not(:disabled) {
    @apply cursor-pointer;
  }

  button:disabled {
    @apply cursor-not-allowed;
  }
}

@utility absolute-center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility bottom-0-responsive {
  bottom: 0;
  bottom: max(0px, env(safe-area-inset-bottom));
}

/* Slide up animation */
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
